W1 실습/W1 실습.json
{
  "name": "W1 실습",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1Oqg-k5l2SSO-a-wQbkkEDpVkR-c5SjD9LzbM7NqWV7c",
          "mode": "list",
          "cachedResultName": "W1 실습 시트",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Oqg-k5l2SSO-a-wQbkkEDpVkR-c5SjD9LzbM7NqWV7c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "여신신청관리",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Oqg-k5l2SSO-a-wQbkkEDpVkR-c5SjD9LzbM7NqWV7c/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        -112
      ],
      "id": "edc53f48-119e-4be7-a3c2-a1aa72374255",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "1N0RwklN3InrKwNr",
          "name": "GoogleSheet - jinhyeok"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0ff49e74-7acf-43f7-adf8-809c4e71b991",
              "name": "접수번호",
              "value": "=ER-{{ $now.format('yyyy-MMdd') }}-{{ String($itemIndex + 1).padStart(3, '0') }}",
              "type": "string"
            },
            {
              "id": "558719c4-dd4e-4562-83bf-61ce07d13034",
              "name": "고객명",
              "value": "={{ $json[\"신청인\"] }}",
              "type": "string"
            },
            {
              "id": "b970196e-f0bc-433d-82ce-215c831449c8",
              "name": "고객 이메일",
              "value": "={{ $json[\"이메일\"] }}",
              "type": "string"
            },
            {
              "id": "5e8c2ae7-21dc-49d2-b3cd-1e828bc87709",
              "name": "대출종류",
              "value": "={{ $json[\"대출종류\"] }}",
              "type": "string"
            },
            {
              "id": "775aa78d-91da-412f-8873-8d2758de2a93",
              "name": "신청금액",
              "value": "={{ $json[\"신청금액(만원)\"] }}",
              "type": "number"
            },
            {
              "id": "7fbb772f-6fcc-4e84-bed7-754089f67602",
              "name": "담당심사역",
              "value": "={{ $json[\"담당심사역\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -112
      ],
      "id": "af5e0d03-ea18-4b00-8e8c-60fabfae2076",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "={{ $json['고객 이메일'] }}",
        "subject": "=[ER은행] 여신 신청 접수 완료 ({{ $json.접수번호 }})",
        "message": "=<div style=\"font-family:sans-serif; max-width:560px; margin:0 auto; padding:24px\">\n  <h2 style=\"color:#1a1a2e\">여신 신청 접수가 완료되었습니다</h2>\n  <p>안녕하세요, <strong>{{ $json.고객명 }}</strong>님.</p>\n  <p>아래와 같이 여신 신청이 정상 접수되었습니다.</p>\n  <table style=\"width:100%; border-collapse:collapse; margin:16px 0\">\n    <tr style=\"background:#f0f2ff\">\n      <td style=\"padding:10px 14px; font-weight:bold; border:1px solid #ddd\">접수번호</td>\n      <td style=\"padding:10px 14px; border:1px solid #ddd\">{{ $json.접수번호 }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding:10px 14px; font-weight:bold; border:1px solid #ddd\">대출 종류</td>\n      <td style=\"padding:10px 14px; border:1px solid #ddd\">{{ $json.대출종류 }}</td>\n    </tr>\n    <tr style=\"background:#f0f2ff\">\n      <td style=\"padding:10px 14px; font-weight:bold; border:1px solid #ddd\">신청 금액</td>\n      <td style=\"padding:10px 14px; border:1px solid #ddd\">{{ $json.신청금액 }}만원</td>\n    </tr>\n    <tr>\n      <td style=\"padding:10px 14px; font-weight:bold; border:1px solid #ddd\">담당 심사역</td>\n      <td style=\"padding:10px 14px; border:1px solid #ddd\">{{ $json.담당심사역 }}</td>\n    </tr>\n  </table>\n  <p>심사 진행 상황은 담당 심사역을 통해 안내드리겠습니다.</p>\n  <p style=\"color:#888; font-size:12px; margin-top:24px\">본 메일은 자동 발송된 메일입니다. — ER은행 여신영업팀</p>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        224,
        -112
      ],
      "id": "9b0fb4d7-15c1-4e47-8c98-2fd8118311b5",
      "name": "Send a message",
      "webhookId": "b422bad1-8c3b-40b4-8256-8d44c4da532a",
      "credentials": {
        "gmailOAuth2": {
          "id": "yYkGtwUvMaLYvRtS",
          "name": "Gmail - jinhyeok"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "94d8a474-d5ca-4d76-b23d-32e88cd66596",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4c37afc9752fe67a196d8ee9ceed60ac48080b0f49495b537873718f58ac1ca4"
  },
  "id": "Q8zMHeUCQtNQdUdF",
  "tags": []
}